* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 350px 10px 350px;
    width: auto;
    height: 500px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(img/bg1.jpg);
    opacity: 0.9;
}

.box1 {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 230px;
    left: 190px;
}

.box1 img {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    margin: 10px
}

.box2 {
    position: absolute;
    top: 406px;
    left: 200px;
}

.box2 h2 {
    color: white;
}

.box3 {
    position: absolute;
    top: 438px;
    left: 201px;
}

.box3 span {
    color: white;
}

.box4 {
    position: absolute;
    top: 407px;
    right: 127px;
}

.box4 button {
    background-color: #41fefe;
    color: black;
    padding: 12px 16px;
    border-radius: 38px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.box4 button:hover {
    background-color: #36f1f1;
}


.container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 350px 2px 350px;
    width: auto;
    height: 170px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.item1 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 112px;
}

.item1 img {
    width: 60px;
    height: 60px;
}

.item2 {
    color: white;
    position: absolute;
    top: 34px;
    left: 174px;
}

.item2 h3 {
    padding: 9px;
    font-size: 31px;
}

.item3 {
    color: white;
    position: absolute;
    top: 124px;
    left: 174px;
}

.item3 span {
    padding: 25px 72px;
    font-size: 20px;
    background-color: #2b2626;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 350px 2px 350px;
    width: auto;
    height: 196px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.set1 {
    width: 60px;
    height: 60px;

    position: absolute;
    top: 30px;
    left: 112px;
}

.set1 img {
    width: 60px;
    height: 60px;
}

.set2 {
    color: white;
    width: 230px;
    height: 60px;
    position: absolute;
    top: 35px;
    left: 181px;
}

.set2 h3 {
    padding: 9px;
    font-size: 31px;
}

.set3 {
    color: white;
    position: absolute;
    top: 100px;
    left: 174px;
    width: 890px;
    height: 53px;
    text-align: center;
    background-color: #2b2626;
    padding: 10px 16px;
}

.set3 span {
    padding: 0px 53px;
    font-size: 20px;
}